{% extends "Products/my_product_info.html" %}
{%load i18n%}
{%load crispy_forms_tags%}
{% block title %}{{product_selected.product_name}} | Display{% endblock %}



<!--CONTACT THE SELLER-->

{%block contactSeller%}
<h3>{%trans "Number of Product contacts"%} : {{n_contacts}}</h3>
<!--if the seller is the user , he can't see the button of contact for his products-->
{% if seller != user %}
<!-- Modal -->
<div style='display: flex; justify-content: center; align-items: center; margin-bottom: 30px;'>
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ModalContact">{%trans "Contact the seller"%}</a>
</div>

<div class="modal fade" id="ModalContact" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">{%trans "Contact the seller"%}: {{seller.first_name}} {{seller.last_name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
          <form method='POST'>
            {% csrf_token %}
          {%if user.is_authenticated %}
            {{form_contact|crispy}}
            <!--check error-->
            {% for field in form %}
              <p>
              {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
              {% endfor %}
              </p>
            {% endfor %}
            {% if form_contact.non_field_errors %}
            <div style="color: red">
            <p>{{form_contact.non_field_errors}}</p>
            </div>
            {% endif %}
            <!--\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
            <div class ='modal-footer'>
              <button type="submit" class="btn btn-primary">{% trans "Send Informations" %}</button>          
            </div>
          {%else%}
            <h5>You have to Log-in at first </h5>
            {{form_login|crispy}}
            <!--check error-->
            {% for field in form %}
            <p>
            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
            </p>
            {% endfor %}
            {% if form_login.non_field_errors %}
            <div style="color: red">
            <p>{{form_login.non_field_errors}}</p>
            </div>
            {% endif %}
            <!--\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
            <div class ='modal-footer'>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">{% trans "Login" %}</button>          
            </div>

            <h5>Signup</h5>
            <p><a href="{% url 'Accounts:signup'%}" class="tooltip-test" title="Tooltip">{% trans "New here? Create an account." %}</a></p>
            <p><a href="{% url 'Accounts:password_reset' %}" class="tooltip-test" title="Tooltip">{%trans "Reset password" %}</a></p>
          {%endif%}
          </form>
          

          <h5>Popover</h5>
          <p>This <a href="#" role="button" class="btn btn-secondary popover-test" title="Popover title" data-content="Popover body content is set in this attribute.">button</a> triggers a popover on click.</p>
          <hr>
          
        </div>
        
      </div>

    </div>
</div>
{% endif %}
{%endblock%}