{% extends "core/base.html" %} 
{% block title %}Sell or Rent{% endblock %}
{% load crispy_forms_tags %}
{% block body_block %}
{%load static%}
<!DOCTYPE html>
<html>
  
<head>
  <link rel="stylesheet" href= "{%static 'Products/products.css' %}">
</head>

<body>
    <div class="container">
      <h1>Register New Product</h1>
      <form method = "POST" enctype="multipart/form-data">
        {{ sellRentForm | crispy }}  
        {{ ProductPhotosForm.media }}
        {{ formset.management_form }}
        
      
        {% for form in formset %}
        <table>
          <tr>
            <td>{{ form | crispy }}
            </td>
            {%if form.errors%}
              <div class='alert alert-danger'>
                {%for field, errors in form.errors.items%}
                  {%for error in errors%}
                    <strong>{{field}} : {{error}}</strong><br>
                  {%endfor%}
                  
                {%endfor%}
              </div> 
            {% endif %}  
          </tr>
         
        </table>
        {% endfor %}
      
      <!--<input type="hidden" value="false" name="additems" id="additems">
      <button class="btn btn-primary" id="additemsbutton">Add more photos</button>
              
        
        {{ formset.as_p }} -->
        <!--{{ProductPhotosForm.as_p}} -->
        <!-- {{form.as_p}} --> 
        {% csrf_token %}
          <button type="submit" class="btn btn-primary">Register</button>
        
      </form>
    </div> 

    <!--PREVIEW OF IMAGES UPLOADED-->
  <div class="child-template">
    <div class='card'>
      <div class='top'>
          <p>Drag & drop image uploading</p>
          <button type="button">Upload</button>
      </div>
      <form action="{%url 'Products:sellRent'%} " method="post" class="dragover" enctype="multipart/form-data">
          <span class= "inner"> Drag & drop image here or <span class="select">Browse</span></span>
          
          <input name="file" type ="file" class="file" multiple/>
      </form>
      <div class="container">
          <div class="image">
              <img src="{%static 'Products/CasePacker_gX59GMp.jpg' %}" alt="image"> 
              <span>&times;</span>
          </div>
      </div>
  
    </div>
  </div>
  

    <script>
      $(document).ready(function() {
              $("#additemsbutton").on('click',function(event) {
               $("#additems").val("true");
             });
      });
      

      //JAVA-SCRIPT : avoid user upload wrong files before pressing submit
      
      //JAVA-SCRIPT : upload image preview when you put an image
      let files =[],
      button = document.querySelector('child-template .top button');
      form = document.querySelector('child-template form');
      container = document.querySelector('child-template .container');
      text = document.querySelector('child-template .inner');
      browse = document.querySelector('child-template .select');
      input = document.querySelector('child-template form input');
      browse.addEventListener('click', ()=> input.click());
      //input change event
      input.addEventListener('change', ()=> {
        let file = input.files;
        for(let i =0; i<file.length ; i++){
          files.push(file[i])
        }
        form.reset();
        showImages();
      });
      const showImages = ()=> {
        let images = '';
        files.forEach((e, i)=> 
        {
          images+= `<div class="image">
                    <img src=${URL.createObjectURL(e)}" alt="image"> 
                    <span onclick="delImage(${i})">&times;</span>
                    </div>)}`
       })
       container.inneHTML = images;
      }
      const delImage = index => {
        files.splice(index,1)
        showImages()
      }
      
    </script>
    
    
</body>
</html>
{% endblock %} 