{% extends "core/base.html" %}
{%load i18n%}
{% block title %}My Products{% endblock %}
{% block body_block %}
    <h1>{%trans "My Products"%} </h1>
    <hr class="dotted">
    
    {% if product_photos %}
    {% for product, photo in product_photos.items %}
    
   
        {% if photo %}
            <img src="{{photo.photo.url}}" style="height:100px" alt="{{ product.name }}">
        {% endif %}
       
        <p>
            <!--<a href="{% url 'Products:product_details' pk=product.pk %}">  {{ product.product_name }} </a> --> 
            <a href="{% url 'Products:myProductInfo' pk=product.pk %}">  {{ product.product_name }} </a> 
            <a href="{% url 'Products:update_product' product_id=product.id %}" class="btn btn-info">{%trans "Edit"%}</a> 
            <a href="{% url 'Products:delete_product' product_id=product.id %}" class="btn btn-danger">{%trans "Delete" %}</a>
        </p>
        <p>{%trans "Manufactured date"%}: {{ product.manufactured_date }}</p>
        <p>{%trans "Registered Date"%}: {{ product.date_registered}}</P>
        <hr class="dotted">
    
    {% endfor %}
    {% endif %}

{% endblock %}