{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block body_block %}


<div class="container">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form | crispy }}
    {{ formset.management_form }}
    <table>
        {% for form in formset %}
            <tr><td>
                {% if form.instance.photo %}
                <img src="{{ form.instance.photo.url }}">
                {% endif %}
            </tr></td>
            <tr>
                <td>{{ form | crispy }}</td>
            </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Update">
</form>
</div>

<!--PREVIEW OF IMAGES UPLOADED-->
<div class='card'>
    <div class='top'>
        <p>Drag & drop image uploading</p>
        <button type="button">Upload</button>
    </div>
    <form action="{%url 'Products:update_product' product.id%} " method="post" enctype="multipart/form-data">
        <span class= "inner"> Drag & drop image here or <span class="select">Browse</span></span>
        <input name="file" type ="file" class="file" multiple/>
    </form>
    <div class="container">
        <div class="image">
            {% for form in formset %}
                {% if form.instance.photo %}
                <img src="{{ form.instance.photo.url }}" alt="image">
                {% endif %}
            {% endfor %}
            <span>&times;</span>
        </div>
    </div>

    

</div>


{% endblock %}