{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block body_block %}
{%load static%}
<!DOCTYPE html>
<html>
  
<head>
  <link rel="stylesheet" href= "{%static 'Products/products.css' %}">
  
</head>

<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form | crispy }}
        {{ formset.management_form }}
        <table>
            {% for form in formset %}
                <tr>
                    <td>{{ form | crispy }}</td>
                </tr>
                <tr><td>
                    {% if form.instance.photo %}
                    <img src="{{ form.instance.photo.url }}" class="product-photo">
                    {% endif %}
                </tr></td>
                
            {% endfor %}
        </table>
        <input type="submit" value="Update">
    </form>
</div>



<!--PREVIEW OF IMAGES UPLOADED-->
 <div class="child-template">
    <div class='card'>
      <div class='top'>
          <p>Drag & drop image uploading</p>
          <button type="button">Upload</button>
      </div>
      <form action="{%url 'Products:sellRent'%} " method="post" class="dragover" enctype="multipart/form-data">
          <span class= "inner"> Drag & drop image here or <span class="select">Browse</span></span>
          
          <input name="file" type ="file" class="file" multiple/>
      </form>
      <div class="container">
          <div class="image">
              <img src="{%static 'Products/CasePacker_gX59GMp.jpg' %}" alt="image"> 
              <span>&times;</span>
          </div>
      </div>
  
    </div>
  </div>
  
</html>
{% endblock %}