{% extends "core/base.html" %}
{% block title %}Edit Profile{% endblock %}
{% block body_block %}
{% load static %}
{% load i18n%}
<div>
    <t>EDIT PROFILE</t>
</div>


<style type="text/css">
	.image-container{
		max-width: 250px;
		height: auto;
	}
	.field-heading{
		color: var(--secondary-text-color);
	}
	.icon-container:hover {
		opacity: 0.3;
		cursor: pointer;
	}
	.friends-icon{
		color: #4287f5;
		font-size: 40px;
	}
	.person-add-icon{
		color: #4287f5;
		font-size: 40px;
	}
	.friend-text{
		font-weight: 500;
		color: black;
	}
	.friends-btn{
		background-color: #cccccc;
		border-color: #cccccc;
		color: #000;
		font-weight: 500;
	}
	.friends-btn:hover {
		background-color: #bfbfbf;
		border-color: #bfbfbf;
	}
	.dropdown-toggle::after { 
		content: none; 
	}
	.card{
		border-radius: 12px;
	}
	.material-icons{
		font-size: 30px;
	}
	.material-icons:hover{
		cursor: pointer;
	}
	.confirm-friend-request{
		color: green;
	}
	.confirm-friend-request:hover {
		opacity: 0.3;
	}
	.decline-friend-request:hover {
		opacity: 0.3;
	}
	.decline-friend-request{
		color: red;
	}
	.message-btn-text{
		font-weight: 500;
	}
</style>

<div class="container-fluid">
	<div class="d-flex flex-row justify-content-center flex-wrap align-items-start">

		<div class="card profile-card m-2">
		  <div class="card-body">
                <div class="d-flex flex-column justify-content-center p-4">
                    <div class="image-container mx-auto mb-4">
						<!--user photo : you have to put the photo field in the model and in the form when you REGISTER a new user-->
                        <img class="d-block border border-dark rounded-circle img-fluid mx-auto profile-image" alt="user photo" id="id_profile_image" src="{%static "Accounts/profile.jpg" %}">
                    </div>
                    <p class="mt-4 mb-1 field-heading">Email</p>
					<!--if it is your profile : show everythings-->
                    {%  if is_self %}
                        <h5>{{email}}</h5>
                    {% else %}
                        {% if hide_email %}
                            <h5>**********</h5>
                        {% else %}
                            <h5>{{email}}</h5>
                        {% endif %}
                    {% endif %}
                    <p class="mt-4 mb-1 field-heading">{%trans "Username" %}</p>
                    <h5>{{username}}</h5>
					<!--
					<div style="form-inline">
						<div class="form-group input-group">
							
							<span class="input-group-addon">
								<input type="password" value="{{password}}" id="password" class="form-control" readonly>
							</span>
							<span class="input-group-addon">
								<input type="checkbox" onclick="myFunction()" class="form-control" style="display: inline-block">
                            </span>
						</div>
					</div>
					-->
					<p class="mt-4 mb-1 field-heading">{%trans "Address" %}</p>
                    <h5>{%blocktranslate %}{{address}}{%endblocktranslate%}</h5>
					<p class="mt-4 mb-1 field-heading">{%trans "Company Name" %}</p>
                    <h5>{%blocktranslate %}{{company_name}}{%endblocktranslate%}</h5>
					<p class="mt-4 mb-1 field-heading">{%trans "Industry" %}</p>
                    <h5>{%blocktranslate%}{{industry}}{%endblocktranslate%}</h5>
					
					
                    <!-- If Auth user is viewing their own profile -->
                    {% if is_self %}
                    <a  class="mt-4 btn btn-primary" href="{%url 'Accounts:editAccount' user_id=id%}">{%trans "Update" %}</a>
	
                    <div class="d-flex flex-column mt-4">
						<a class="m-auto" href="{% url 'Accounts:password_change' %}">{%trans "Change password" %}</a>
					</div>
                    {% endif %}
                </div>
		  </div>
		</div>
		
	</div>
</div>


<script type="text/javascript">
	function myFunction() {
		var x = document.getElementById("password");
		if (x.type === "password") {
		  x.type = "text";
		} else {
		  x.type = "password";
		}
	  }
</script>

{% endblock %}